<!DOCTYPE html>
<html>

<head>
    <title>
        start_test
    </title>
</head>

<body>
    <form method="POST" action="/start_test">
        <label for="category">Choose Category:</label>
        <select id="category" name="category">
            <option value="1">Python</option>
            <option value="2">Java</option>
            <option value="3">DBMS</option>
            <option value="4">Aptitude</option>
            <option value="5">Html/Css</option>
        </select>
        <label for="difficulty">Choose Difficulty:</label>
        <select id="difficulty" name="difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <button type="submit">Start</button>
    </form>
</body>

</html>